@font-face {
    font-family: 'butlerRegular';
    src: url('/css/fonts/Butler/butlerRegularWebfont.woff2') format('woff2'),
         url('/css/fonts/Butler/butlerRegularWebfont.woff') format('woff'),
         url('/css/fonts/Butler/butlerRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proximaRegular';
    src: url('/css/fonts/Proxima/ProximaNovaAltRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proximaBold';
    src: url('/css/fonts/Proxima/ProximaNovaAltBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'leixoRegular';
    src: url('/css/fonts/Leixo/leixo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}